{% extends "prodserv_base.html" %}
{% load prodserv_tags %}

{% block mainColumn %}
{% csrf_token %}

<link rel="stylesheet" type="text/css" href="/static/css/select2.css">
<link rel="stylesheet" type="text/css" href="/static/css/raceview.css">
<link rel="stylesheet" type="text/css" href="/static/css/ng-grid.css"/>
<script src="http://code.jquery.com/jquery-2.0.3.min.js" data-semver="2.0.3" data-require="jquery@*"></script>
<link data-require="jqueryui@*" data-semver="1.10.0" rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" />
<script data-require="jqueryui@*" data-semver="1.10.0" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
<script type="text/javascript"  src="{{ STATIC_URL }}js/select2-3.4.5/select2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>



<html ng-app="raceview">

    <body ng-controller="RaceViewController">

            <table class="table table-condensed table-hover">
                <thead>

                    <tr>
                        <th class="id" custom-sort order="'id'" sort="sort">JobID&nbsp;</th>
                        <th class="description" custom-sort order="'description'" sort="sort">Software Tags&nbsp;</th>
                        <th class="field3" custom-sort order="'field3'" sort="sort">Shot&nbsp;</th>
                        <th class="field4" custom-sort order="'field4'" sort="sort">Seq&nbsp;</th>
                        <th class="field5" custom-sort order="'field5'" sort="sort">Comments&nbsp;</th>
                    </tr>
                </thead>
                <tfoot>
                    <td colspan="6">
                        <div class="pagination pull-right">
                            <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">« Prev</a>
                                </li>

                                <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                    ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>

                                <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tfoot>

                <tbody ui-selectable doc-array="jobids.raceData">
                    <tr ng-right-click="rightClickAction()" class="parent"
                        ng-repeat="id in jobids.raceData | filter:searchText">
                        {% verbatim %}
                        <td>{{id.job_id}}</td>
                        <td>{{id.software_tags}}</td>
                        <td>{{id.shot}}</td>
                        <td>{{id.show}}</td>
                        <td>{{id.comments}}</td>
                        {% endverbatim %}
                        <div ng-hide="contextMenu.visable" id="contextMenu">
                            <!-- TODO: this should be a ng-repeat. We should allo users to create there own
                                       right click option menus. raceview services should ajax load users registered plugins
                                       would need a way for users to register their own plugins. Could be a database that stores
                                       a path on disk to a python script. This would get loaded when the users open the application
                                       so that when a user clicks a right click action it is posted to the server that then runs a rabbit or celery
                                       process.
                            -->
                            <ul>
                                <li><a id="ctxInsert" href="#">Insert</a></li>
                                <li><a id="ctxEdit" href="#">Edit</a></li>
                                <li><a id="ctxDelete" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </tr>
                </tbody>
            </table>


        <!--Search by Jobid: <input type="text" ng-model="searchText.job_id">-->
        <!--<div  loading>Loading... <img src="{{ STATIC_URL }}img/spinner.gif"></div>-->
        <!--<div class="margin-top-20px" ui-selectable doc-array="jobids.raceData">-->
           <!--<div class="parent" ng-repeat="id in jobids.raceData | filter:searchText">-->
               <!--{% verbatim %}-->
               <!--<span ng-click="dosomething($index)">{{ id.job_id }}</span>-->
               <!--{% endverbatim %}-->
           <!--</div>-->
        <!--</div>-->
    </body>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="/static/js/angular-ui-select2/select2.js"></script>
    <script src="/static/js/angular-ui-grid/angular-ui-ng-grid-fb9acf1/ng-grid-2.0.7.min.js"></script>
    <script src="/static/js/ng-grid-plugins.js"></script>

    <script type="text/javascript" src="/static/js/raceview_services.js"></script>

    <script type="text/javascript" src="/static/js/raceview_controllers.js"></script>

    <!--<script type="text/javascript">-->
        <!--//TODO: we should be using angularjs - this is just for testing our views-->
        <!--require(['jquery'], function () {-->
            <!--var run = function() {-->
                <!--$.ajax({-->
                  <!--type : 'GET',-->
                  <!--data: {-->
                      <!--data: "data",-->
                      <!--format: "json"-->
                  <!--},-->
                  <!--url: ".",-->
                  <!--success: function(res) {-->
                      <!--console.log(res)-->
                  <!--},-->
                    <!--error: function(error) {-->
                        <!--console.log(error)-->
                    <!--}-->
                <!--})-->
            <!--};-->
            <!--run()-->
        <!--});-->
    <!--</script>-->
</html>
{% endblock mainColumn%}